<br><br><br><br><br><br><br>
<div class="container-fluid"> 
    <div class="form-group">
        <label> Titre</label>
        <input type="text" class="from-control" [(ngModel)]="annonce.titre">
    </div>
    <div class="form-group">
        <label> Description</label>
        <input type="text" class="from-control" [(ngModel)]="annonce.description">
    </div>
    <div class="form-group">
        <label> Localisation</label>
        <input type="text" class="from-control" [(ngModel)]="annonce.localisation">
    </div>
    <div class="form-group">
        <label> Prix</label>
        <input type="text" class="from-control" [(ngModel)]="annonce.prix">
    </div>
    <div class="form-group">
        <label> Nombre de chambres</label>
        <input type="text" class="from-control" [(ngModel)]="annonce.nbchambre">
    </div>

    <div class="form-group">
        <label> Surface</label>
        <input type="text" class="from-control" [(ngModel)]="annonce.surface">
    </div>

    
    <div class="modal-footer" >  
        <button type="button" class="btn btn-danger" (click)="update()"> Update </button>
      </div>  

      

</div>
