<br><br><br><br><br>
<h3>Create Annonce</h3>
<br>
<form (ngSubmit) = "onSubmit()">

    <div class="form-group">
        <label> Titre</label>
        <input type="text" class="form-control" id="titre"
        [(ngModel)]="annonce.titre" name="titre">

    </div>

    <div class="form-group">
        <label> Description</label>
        <input type="text" class="form-control" id="description"
        [(ngModel)]="annonce.description" name="description">

    </div>
    <div class="form-group">
        <label> Localisation</label>
        <input type="text" class="form-control" id="localisation"
        [(ngModel)]="annonce.localisation" name="localisation">

    </div>
    <div class="form-group">
        <label> Latitude</label>
        <input type="text" class="form-control" id="latitude"
        [(ngModel)]="annonce.latitude" name="latitude">

    </div>

    <div class="form-group">
        <label> Longitude</label>
        <input type="text" class="form-control" id="logitude"
        [(ngModel)]="annonce.longitude" name="longitude">

    </div>
    <div class="form-group">
        <label> Prix</label>
        <input type="text" class="form-control" id="prix"
        [(ngModel)]="annonce.prix" name="prix">

    </div>

    <div class="form-group">
        <label> Nombre de Chambres</label>
        <input type="text" class="form-control" id="nbchambre"
        [(ngModel)]="annonce.nbchambre" name="nbchambre">

    </div>

    

    <div class="form-group">
        <label> Surface</label>
        <input type="text" class="form-control" id="surface"
        [(ngModel)]="annonce.surface" name="surface">

    </div>
    
  
    <button class="btn btn-success" type="submit">Submit</button>

 

</form>