<h2> Annonce list</h2>
<table class="table table-striped">

    <thead>
        <tr>
            <th>id</th>
            <th>Description</th>
            <th>Localisation</th>
            <th>nombre chambre</th>
            <th>prix</th>
            <th>Surface</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let annonce of annonces" >
            <td> {{ annonce.id }} </td>
            <td> {{ annonce.description }} </td>
            <td> {{ annonce.localisation }} </td>
            <td> {{ annonce.nbchambre }} </td>
            <td> {{ annonce.prix }} </td>
            <td> {{annonce.surface}}</td>
            
        </tr>
    </tbody>
</table>