   
    <div class="card-body">
      <img class="card-img-top" style="width: 50%; height: 50%; "  [src]="user.image"  alt="">
      <p class="card-title" style="padding-top: 2%;" ><i class="fa fa-user"></i>  {{user.username}}</p>
      <p class="card-title"><i class="fa fa-envelope"></i> {{user.email}}</p>
      <p class="card-title"><i class="fa fa-phone"></i> (+216) {{user.telephone}}</p>
      <button (click)="close()"  style="background-color:  #2eca6a ;  border:#2eca6a ;" class="btn btn-primary"  > Fermer </button>

      </div>